.input__container {
  background: #f3f9fa;
  border-radius: 5px;
  height: 48px;
  width: 379px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 18px;
  cursor: pointer;
  border: 2px solid #f3f9fa;

  &:hover {
    background: #F3F9FA;
    border: 2px solid #26C2AE;
    border-radius: 5px;
  }
  &.red-input {
    
      background: #F3F9FA;
      border: 2px solid #E17052;
      border-radius: 5px;
  }

  .input__number {
    border: none;
    background: #f3f9fa;
    outline: none;
    text-align: right;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #00474b;
    cursor: pointer;

    &::placeholder {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #00474b;
      mix-blend-mode: normal;
      opacity: 0.35;
    }

  }

  
}