.button {
  padding: 6px 14px;
  background: #00474b;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;

  &:hover {
    background: #9fe8df;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #00474b;
  }
}
