* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-style: normal;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  background: #C5E4E7;
}
.app__container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 163px 260px;
  gap: 88px;
}